body {
	font-family: 'Lato',sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

.jumbotron-color {
	background-color: #F1F0FF;
	color: #8C489F;
}

.title-purple {
	color: #8C489F;
}

.lato-light-italic {
	font-family: 'Lato' !important;
	font-style: italic;
	font-weight: 300;
}

.lato-normal {
	font-family: 'Lato' !important;
	font-style: normal;
}

.lato-bold {
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 700;
}

.pacifico-normal {
	font-family: 'Pacifico' !important;
	font-style: normal;
	font-weight: 400;
}

.page-header {
	text-align: center;
}

.form {
	width: 50%;
	margin: auto;
}

.book-button {
	background-color: #8C489F;
	color: #FFFFFF;
}